<template>
    <div>
        <QTable :rows="tRows" :columns="tCols" row-key="ContentId">

            <template v-slot:header="props">
                <q-tr :props="props">
                    <q-th auto-width />
                    <q-th v-for="col in props.cols" :key="col.name" :props="props">
                        {{ col.label }}
                    </q-th>
                </q-tr>
            </template>

            <template v-slot:body="props">
                <q-tr :props="props">
                    <q-td auto-width>
                        <q-btn size="sm" color="accent" round dense @click="props.expand = !props.expand"
                            :icon="props.expand ? 'remove' : 'add'" />
                    </q-td>
                    <q-td v-for="col in props.cols" :key="col.name" :props="props">
                        {{ col.value }}
                    </q-td>
                </q-tr>
                <q-tr v-show="props.expand" :props="props">
                    <q-td colspan="100%">
                        <QTable flat bordered grid :rows="JSON.parse(props.row.Data)" hide-header
                            :rows-per-page-options="[0]" hide-bottom>

                        </QTable>
                    </q-td>
                </q-tr>
            </template>
        </QTable>
    </div>
</template>

<script setup lang="ts">
import { QTable, QTableColumn } from 'quasar'
import { Items } from 'src/store/ItemsStore'
import { IItem, IRowItem } from 'src/BL/types';
import { computed, ref } from 'vue';

const itemsData = ref<IItem[]>(await Items.value)

const tRows = computed((): IRowItem[] => {
    if (itemsData.value == undefined)
        return []
    const itemsRowData: IRowItem[] = itemsData.value.map(item => ({
        ...item,
        Data: JSON.stringify(item.Data)
    }))
    return itemsRowData
})

const tCols: QTableColumn[] = [
    { name: "ContentId", align: 'center', label: 'Content Id', field: "ContentId", sortable: false },
    { name: "ModuleId", align: 'center', label: 'Module Id', field: 'ModuleId', sortable: false },
    { name: "LevelId", align: 'center', label: 'Level Id', field: 'LevelId', sortable: false },
    { name: "ApplicationName", align: 'center', label: 'Application Name', field: 'ApplicationName', sortable: false },
    { name: "Created", align: 'center', label: 'Created', field: 'Created', sortable: false },
    { name: "Modified", align: 'center', label: 'Modified', field: 'Modified', sortable: false },
    { name: "Title", align: 'center', label: 'Title', field: 'Title', sortable: false }
]
</script>
